<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_NAME" value="testdb"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="rootpassword"/>
        <env name="DB_CHARSET" value="utf8mb4"/>
    </php>
</phpunit>
